@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* #region mermaid components */

.mermaid-container .mermaid {
  background: transparent !important;
  display: flex;
  justify-content: center;
}

.mermaid-container .mermaid svg {
  height: auto !important;
  max-width: none !important;
}

/* #endregion */

/* #region nextra fixing components */

.nextra-sidebar-footer {
  padding-left: 0.75rem !important;
  padding-right: 0.75rem !important;
  display: flex !important;
  align-items: center !important;
  gap: 0.5rem !important;
}

/* #endregion */